[Desktop Entry]
Name=Whiskers Panther
X-KDE-PluginInfo-Author=lighttigerXIV
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=lighttigerXIV@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=Whiskers Panther
X-KDE-PluginInfo-Version=1.2
